*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: my font;
}
@font-face {
    font-family: my font;
    src: url("../fonts/Heebo-Regular.ttf");
}
@font-face {
    font-family: my font;
    src: url("../fonts/Heebo-Bold.ttf");
    font-weight: bold;
}
@media (max-width:767) {
    .contener{
    width: 767px;  
  }
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
    padding: 10px;
}
ul li a:hover{
    color: #FF6464;
}
.navFather {
    display: flex;
    justify-content: end;
    /* align-items: end; */
    padding: 10px;
}
h1{
    padding-left: 19%;
    padding-right: 35%;
    margin-bottom: 5%;
}
span{
    color: #8695A4;
}
.contener{
    width: 100%;
    padding-left: 19%;
    padding-right: 30%;
}
.div{
    margin-top: 3%;
    margin-bottom: 8%;
}
.element1 p{
    line-height: 1.5;
    margin-bottom: 15px;
}
.element1{
    margin-top:35px ;
}
.element1 h2{
    margin-top: 20px;
    margin-bottom: 10px;
}
.p1{
    margin-bottom: 10px;
}
hr{
    color: #E0E0E0;
}
.icon{
   font-size: 30px;
   padding-bottom: 15px;
   color: #21243D;
}
.icon i{
    padding: 0 16px;
}
.footer {
    margin-right: 55px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}
.footer p{
    font-size: 14px;
  }

